@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-base-white: #fff;
  --color-base-black: #000000;
  --color-gray-25: #FCFCFD;
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F2F4F7;
  --color-gray-200: #EAECF0;
  --color-gray-300: #D0D5DD;
  --color-gray-400: #98A2B3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1D2939;
  --color-gray-900: #101828;

  --color-primary-25: #D5ECFF;
  --color-primary-50: #C0DEF7;
  --color-primary-100: #AACFEE;
  --color-primary-200: #80B3DE;
  --color-primary-300: #5596CD;
  --color-primary-400: #2B7ABD;
  --color-primary-500: #005DAC;
  --color-primary-600: #004A8A;
  --color-primary-700: #003867;
  --color-primary-800: #002545;
  --color-primary-900: #001322;

  --color-secondary-25: #FAE8EA;
  --color-secondary-50: #F6D0D5;
  --color-secondary-100: #F1B9BF;
  --color-secondary-200: #ECA1AA;
  --color-secondary-300: #E37280;
  --color-secondary-400: #D94355;
  --color-secondary-500: #D0142B;
  --color-secondary-600: #A61022;
  --color-secondary-700: #7D0C1A;
  --color-secondary-800: #530811;
  --color-secondary-900: #2A0409;

  --color-error-25: #FFFBFA;
  --color-error-50: #FEF3F2;
  --color-error-100: #FEE4E2;
  --color-error-200: #FECDCA;
  --color-error-300: #FDA29B;
  --color-error-400: #F97066;
  --color-error-500: #F04438;
  --color-error-600: #D92D20;
  --color-error-700: #B42318;
  --color-error-800: #912018;
  --color-error-900: #7A271A;

  --color-warning-25: #FFFCF5;
  --color-warning-50: #FFFAEB;
  --color-warning-100: #FEF0C7;
  --color-warning-200: #FEDF89;
  --color-warning-300: #FEC84B;
  --color-warning-400: #FDB022;
  --color-warning-500: #F79009;
  --color-warning-600: #DC6803;
  --color-warning-700: #B54708;
  --color-warning-800: #93370D;
  --color-warning-900: #7A2E0E;

  --color-success-25: #F6FEF9;
  --color-success-50: #ECFDF3;
  --color-success-100: #D1FADF;
  --color-success-200: #A6F4C5;
  --color-success-300: #6CE9A6;
  --color-success-400: #32D583;
  --color-success-500: #12B76A;
  --color-success-600: #039855;
  --color-success-700: #027A48;
  --color-success-800: #05603A;
  --color-success-900: #054F31;


}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: var(--color-base-white) 0.3s, border 0.3s;
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 100;
  /* Thin */
  src: url("../font/IRANSansX-Thin.ttf") format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  /* Light */
  src: url("../font/IRANSansX-Light.ttf") format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 400;
  /* Regular */
  src: url("../font/IRANSansX-Regular.ttf") format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 700;
  /* Bold */
  src: url("../font/IRANSansX-Bold.ttf") format("truetype");
}



html {
  width: 100%;
  height: 100%;
  margin: 0 !important;
}

body {
  font-family: iranSans, sans-serif;
  color: var(--color-base-black);
  /* min-height: 100vh; */
  line-height: 1.5;
  font-size: 1.05rem;
  overflow-x: hidden;

}

h1 {
  font-size: 2.3rem;
  /* 40px */
  font-weight: 700;
  /* Bold */
  line-height: 1.2;
  /* Tight line height */
  margin: 1.5rem 0;
  /* Top and bottom margin */
  color: var(--color-base-black);
  /* Use your color variable */
}

h2 {
  font-size: 1.8rem;
  /* 32px */
  font-weight: 600;
  /* Semi-bold */
  line-height: 1.3;
  margin: 1.25rem 0;
  color: var(--color-base-black);
}

h3 {
  font-size: 1.55rem;
  /* 28px */
  font-weight: 500;
  /* Medium */
  line-height: 1.4;
  margin: 1rem 0;
  color: var(--color-base-black);
}

h4 {
  font-size: 1.3rem;
  /* 24px */
  font-weight: 500;
  line-height: 1.4;
  margin: 0.75rem 0;
  color: var(--color-base-black);
}

h5 {
  font-size: 1.05rem;
  /* 20px */
  font-weight: 400;
  /* Normal */
  line-height: 1.5;
  margin: 0.5rem 0;
  color: var(--color-base-black);
}

h6 {
  font-size: 12px;
  /* 16px */
  font-weight: 400;
  line-height: 1.5;
  margin: 0.25rem 0;
  color: var(--color-base-black);
}

p {
  font-size: 0.85rem;
  /* 16px */
  font-weight: 400;
  /* Normal */
  line-height: 2;
  /* More space for readability */
  color: var(--color-base-black);
}


input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;

}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--color-gray-200);
  color: var(--color-gray-500);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline-offset: -1px;
}

button:has(svg) {
  line-height: 0;
}


ul {
  list-style: none;
}



img {
  max-width: 100%;
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}


.purple-gradient-text {
  background: linear-gradient(90deg, #7b2ff7, #38a2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-enter-active,
.accordion-leave-active {
  transition: all 0.3s ease;
}

.accordion-enter-from,
.accordion-leave-to {
  opacity: 0;
  max-height: 0;
}

.accordion-enter-to,
.accordion-leave-from {
  opacity: 1;
  max-height: 500px;
}

.purple-gradient-text {
  background: linear-gradient(90deg, #7b2ff7, #38a2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-swiper .swiper-pagination-bullet {
  background: linear-gradient(90deg, #7b2ff7, #38a2ff);
  opacity: 0.4;
  transition: all 0.3s ease;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.3);
}

.swiper-slide {
  min-height: 300px;
}

.SwiperSlide {
  min-height: 5px;
}

.input-error {
  border-color: var(--color-error-500) !important;
  box-shadow: 0 0 0 4px rgba(229, 62, 62, 0.2) !important;
}

.error-message {
  color: var(--color-error-500);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-disabled {
  background-color: var(--color-gray-100);
  cursor: not-allowed;
  color: var(--color-gray-500);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  pointer-events: none;
}

.input-field {
  padding: 10px 14px 10px 36px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: solid 1px var(--color-gray-400);
  background-color: var(--color-base-white);
  width: 100%;
  color: var(--color-gray-900);
}

.input-field:focus {
  border-radius: 8px;
  box-shadow: 0 0 0 4px var(--color-primary-100), 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: solid 1px var(--color-primary-300);
  background-color: var(--color-base-white);
  outline: none;
}